<h2>Entries</h2>

<!-- ADD ENTRY -->
<h3>Add Entry</h3>

<select id="add-entry-movement-type"></select>
<select id="add-entry-account-select"></select>
<input type="text" id="add-entry-owner-input" placeholder="Owner" disabled="true"/>
<select id="add-entry-destination-account-select" style="display:none"></select>
<select id="add-entry-category-select"></select>
<select id="add-entry-subcategory-select"></select>
<input type="number" id="add-entry-amount" step="0.01" min="=0" placeholder="Amount" />
<input type="date" id="add-entry-date" />
<input type="text" id="add-entry-description" placeholder="Description" />

<button id="add-entry-button">Add Entry</button>

<hr/>

<!-- EDIT ENTRY -->
<h3>Edit Entry</h3>

<select id="edit-entry-select"></select>

<select id="edit-entry-movement-type"></select>
<select id="edit-entry-account-select"></select>
<input type="text" id="edit-entry-owner-input" placeholder="Owner" disabled="true"/>
<select id="edit-entry-destination-account-select" style="display:none"></select>
<select id="edit-entry-category-select"></select>
<select id="edit-entry-subcategory-select"></select>
<input type="number" id="edit-entry-amount" step="0.01" min="=0" placeholder="Amount" />
<input type="date" id="edit-entry-date" />
<input type="text" id="edit-entry-description" placeholder="Description" />

<button id="edit-entry-button">Save Changes</button>

<hr/>


<!-- REMOVE ENTRY -->
<h3>Remove Entry</h3>

<select id="remove-entry-select"></select>
<button id="remove-entry-button">Remove entry</button>

<!-- GET ENTRIES -->
<h3>Get Entries</h3>

<select id="filter-entries-movement-type"></select>

<select id="filter-entries-account-select"></select>

<select id="filter-entries-category-select"></select>

<select id="filter-entries-subcategory-select"></select>

<input type="number" id="filter-entries-amount-min" step="0.01" placeholder="Min amount" />
<input type="number" id="filter-entries-amount-max" step="0.01" placeholder="Max amount" />

<input type="date" id="filter-entries-date-from" />
<input type="date" id="filter-entries-date-to" />

<input type="text" id="filter-entries-description" placeholder="Description contains..." />

<button id="filter-entries-search-button">Search</button>
<button id="filter-entries-reset-button">Reset</button>

<hr/>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Account</th>
      <th>Destination Account</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody id="entries-tbody"></tbody>
</table>


<!-- AGGREGATE ENTRIES -->
<h3>Aggregate Entries</h3>

<select id="aggregate-entries-movement-type"></select>

<select id="aggregate-entries-account-select"></select>

<select id="aggregate-entries-category-select"></select>

<select id="aggregate-entries-subcategory-select"></select>

<input type="number" id="aggregate-entries-amount-min" step="0.01" placeholder="Min amount" />
<input type="number" id="aggregate-entries-amount-max" step="0.01" placeholder="Max amount" />

<input type="date" id="aggregate-entries-date-from" />
<input type="date" id="aggregate-entries-date-to" />

<input type="text" id="aggregate-entries-description" placeholder="Description contains..." />

<button id="aggregate-entries-search-button">Aggregate</button>
<button id="aggregate-entries-reset-button">Reset</button>

<hr/>

<input type="number" id="aggregate-entries-amount-result" disabled="true" placeholder="Aggregated Amount" />


<h3>Entries Pivot</h3>

<select id="pivot-entries-group-by">  
  <option value="account">Account</option>
  <option value="category">Category</option>
  <option value="owner">Owner</option>
</select>

<label>
    <input type="checkbox" id="pivot-entries-include-transfers" checked>
    Include transfers
</label>

<input type="date" id="pivot-entries-date-from" />
<input type="date" id="pivot-entries-date-to" />

<button id="pivot-entries-button">Run Pivot</button>
<hr/>
<table border="1">
  <thead>
    <tr>
      <th>Group By Id</th>
      <th>Group By Name</th>
      <th>Total Amount</th>
    </tr>
  </thead>
  <tbody id="entries-pivot-tbody"></tbody>
</table>