<h2>Owners</h2>

<h2>Add Owner</h2>
<input type="text" id="owner-name" placeholder="Owner Name" />
<button id="add-owner">Add Owner</button>

<h2>Remove Owner</h2>
<input type="text" id="owner-id" placeholder="Owner id" />
<button id="remove-owner">Remove Owner</button>

<h2>Edit Owner</h2>
<input type="text" id="owner-edit-id" placeholder="Owner id" />
<input type="text" id="owner-edit-name" placeholder="New owner name" />
<button id="edit-owner">Edit Owner name</button>

<h2>All Owners</h2>
<button id="get-owner">Get Owners</button>
<table id="owners-table" border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Owner</th>
        </tr>
    </thead>
    <tbody id="owners-tbody"></tbody>
</table>