<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script defer src="/static/js/home.js"></script>

    <script defer src="/static/js/owners.js"></script>
    <script defer src="/static/js/accounts.js"></script>
    <script defer src="/static/js/categories.js"></script>
    <script defer src="/static/js/entries.js"></script>
</head>
<body>
    <h1>Accounting Dashboard</h1>
    
    <nav id="tabs" class="tabs">
        <button data-tab="owners">Owners</button>
        <button data-tab="accounts">Accounts</button>
        <button data-tab="categories">Categories</button>
        <button data-tab="entries">Entries</button>
        <button id="logout">Logout</button>
    </nav>

    <div id="tab-content">
        <!-- tab content will be loaded here -->
    </div>
</body>
</html>
